/* [ON BIG SCREENS] */
/* (A) WRAPPER */
#hamnav {
  width: 100%;
  background: #ECE0ED;
  /* Optional */
  position: sticky;
  top: 0;
  left: 0;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems { display: flex; }
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: black;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover { 
  background: #ECE0ED; 
  color: #C6FF23;
}

/* (C) HIDE HAMBURGER */
#hamnav label, #hamburger { display: none; }

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: black; /* neon  C6FF23*/
    background: #ECE0ED;
    font-style: normal;
    font-size: 2.5em;
    padding: 10px;
  }
  #hamnav label:hover{
    color: #C6FF23;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}

