html, body, {
    height:  100%;    
    width: 100%;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    height: 100%;
}

#myVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.right_picture{
    height: 28vw; 
    min-width: 40%; 
    max-width: 40%;
    display:  inline-block;
}

.right_picture:hover{
    background-color: black;
    opacity: .5;
}

.right_box_header{
    background-color: black;
    color:  white;
    width:  45%;
    margin:  0;
    margin-left:  auto;
    letter-spacing: .5px;
    word-spacing:  -6px;
    padding: 1.5%;
    padding-right: 2.57em;
    text-align: right;
}

.link_button{
    text-decoration: none; 
    border: 1px solid white; 
    background-color: white; 
    padding: 2.5%;
    color:  black;
}

.center_flex_box{
    display: flex; 
    display: -webkit-flex; /* Safari */ 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.left_flex_box{
    display: flex; 
    display: -webkit-flex; /* Safari */ 
    align-items: center; 
    justify-content: start;
    text-align: center;
}

.right_flex_box{
    display: flex; 
    display: -webkit-flex; /* Safari */ 
    align-items: center; 
    justify-content: end;
    text-align: center;
}

.left_box{
    margin-left: 11%;
}

.right_box{
    margin-right: 11%; 
    margin-left: auto; 
}

.flex_box_for_picture{
    display: flex; 
    align-items: stretch; 
    align-content: center;
}

.left_box_header{
    background-color: black; 
    color:  white; 
    width: 35%; 
    margin: 0; 
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right:  1.5%;
    padding-left:  2.57em; 
    text-align: left;
}

.pink_box{
    margin: 0; 
    padding: 3em; 
    background-color: #ff82e2;
    line-height: 35px;
    text-align: left;
    vertical-align: middle;
}

.pink_box_right{
    text-align: right;
}


.top_padding{ 
    padding-top: 20%;
}

.bottom_padding{
    padding-bottom: 17.5%;
}

.section_divide{
    font-size: 3em; 
    color: white; 
    font-weight: 700;
}

.sixty{
    width: 45%;
}

.center_button{
    text-align: center; 
    padding: 25px;
    padding-bottom: 0;
}
.center_button > a{

}

.section_divide_height {
    min-height: 80vh;
}

.no_bottom_padding{
    padding-bottom: 0px;
}

.bio_pic{
    max-width: 40%; 
    max-height: auto;
}

.v{
    position: absolute; 
    bottom: 17.5%; 
    align-content: center; 
    font-size: 3em;
    text-decoration: none; 
    color: white; 
    opacity: .8
}

.home_img{
    max-width: 65vw; 
    height: auto;
}

@media(max-height: 500){

    .v{
        bottom: 2.5%;
    }
}
.mobile_only{
    display: none;
}

@media (max-width: 550px) {

    .web_online{
        display: none;
    }

    .mobile_only{
        display: inline-block;
        width:  100%;
    }
    .right_picture{
        madx-width:  100%;
        min-width:  100%;
        height:  auto;
    }

    .v{
        bottom: 2.5%;
    }
    .left_box{
        margin-left:  0px;
    }
    .sixty{
        width: 100%;
    }

}

*{
    margin: 0;
    font-family: "Source Code Pro", "Helvetica", "Arial", "Verdana", "sans-serif";
    box-size: border-box; 
    font-weight: 400;
}